QMainWindow {
    background-color: #1d2b53;
}

QTextEdit {
    background-color: #1d2b53;
    font-family: "PICO-8";
    color: #c2c3c7;
    border: 1px solid #1d2b53;
}

QToolBar {
    background-color: #ff004d;
    border: none;
}

QToolButton {
    background-color: transparent;
    color: #c2c3c7;
    font-family: "PICO-8";
    font-size: 18px;
    border: none;
}

QToolButton:hover {
    background-color: #ff004d;
    color: #fff;
}