QMainWindow {
    background-color: #1d2b53;
}

QTextEdit {
    background-color: #1d2b53;
    font-family: "PICO-8";
    color: #c2c3c7;
    border: 1px solid #1d2b53;
    selection-background-color: #ffec27;
    selection-color: #c2c3c7;
}

QMenuBar {
    background-color: #ff004d;
    color: #c2c3c7;
    font-family: "PICO-8";
    font-size: 22px;
    padding-top: 1px;
}

QMenuBar::item:hover {
    background-color: #fff;
    color: #ff004d;
}

QMenu {
    background-color: #5f574f;
    color: #c2c3c7;
    font-family: "PICO-8";
    font-size: 18px;
    padding-top: 10px;
}

QMenu::item:selected {
    background-color: #ff004d;
    color: #fff;
}

QToolBar {
    background-color: #ff004d;
    border: none;
}

QToolButton {
    background-color: transparent;
    color: #c2c3c7;
    font-family: "PICO-8";
    font-size: 18px;
    border: none;
}

QToolButton:hover {
    background-color: #ff004d;
    color: #fff;
}

QLabel {
    color: #7e2553;
    font-family: "PICO-8";
    font-size: 22px;

}