QMainWindow {
    background-color: #1d2b53;
}

QTabWidget {
    background-color: #1d2b53;
    color: #c2c3c7;
    font-family: "PICO-8";
    font-size: 18px;
    border: none;
}

QTabBar::tab {
    background-color: #ff77a8;
    color: #ff004d;
    font-family: "PICO-8";
    font-size: 18px;
    padding: 5px;
    margin-right: 4px;
}

QTabBar::tab:selected {
    background-color: #fff;
    color: #ff004d;
}

QTextEdit {
    background-color: #1d2b53;
    font-family: "PICO-8";
    color: #c2c3c7;
    border: 1px solid #1d2b53;
    border-top: 2px solid #ff004d;
    selection-background-color: #ffec27;
    selection-color: #c2c3c7;
}

QTextEdit#lineNumberArea {
    background-color: #1d2b53;
    color: #c2c3c7;
    border: none;
    border-right: 2px solid #ff004d;
}

QScrollBar:vertical {
    background: #1d2b53;
    width: 15px;
    margin: 0px 0px 0px 0px;
    border: none;
}

QScrollBar::handle:vertical {
    background: #5f574f;
    min-height: 20px;
}

QScrollBar::handle:vertical:hover {
    background: #c2c3c7;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
}

QScrollBar:horizontal {
    background: #1d2b53;
    height: 15px;
    margin: 0px 0px 0px 0px;
    border: none;
}

QScrollBar::handle:horizontal {
    background: #5f574f;
    min-width: 20px;
}

QScrollBar::handle:horizontal:hover {
    background: #c2c3c7;
}

QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
    width: 0px;
}

QScrollBar::handle:vertical {
    background: #5f574f;
    min-height: 20px;
}

QScrollBar::handle:vertical:hover {
    background: #c2c3c7;
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical {
    height: 0px;
}

QMenuBar {
    background-color: #ff004d;
    color: #c2c3c7;
    font-family: "PICO-8";
    font-size: 22px;
    padding-top: 1px;
}

QMenuBar::item {
    background-color: transparent;
    color: #c2c3c7;
    padding: 5px 10px;
    padding-left: 5px;
}

QMenuBar::item:hover {
    background-color: #fff;
    color: #ff004d;
}

QMenu {
    background-color: #5f574f;
    color: #c2c3c7;
    font-family: "PICO-8";
    font-size: 18px;
    padding-top: 10px;
}

QMenu::item:selected {
    background-color: #ff004d;
    color: #fff;
}

QMenu::item:disabled {
    color: #6d655c;
    opacity: 0.6;
}

QToolBar {
    background-color: #ff004d;
    border: none;
}

QToolButton {
    background-color: transparent;
    color: #c2c3c7;
    font-family: "PICO-8";
    font-size: 18px;
    border: none;
}

QToolButton:hover {
    background-color: #ff004d;
    color: #fff;
}

QLabel#lineCountLabel, QLabel#charCountLabel {
    color: #7e2553;
    font-family: "PICO-8";
    font-size: 22px;
}